@model LoginViewModel

@{
    var returnUrl = @Context.Request.Query["returnurl"];
}

<form class="sign-in-form" asp-controller="Auth" asp-action="Login" asp-route-returnurl="@returnUrl">
    <div>
        <label for="UserName" >UserName</label>
        <input asp-for=UserName/>
    </div>
    <div>
        <label for="Password">Password</label>
        <input asp-for=Password/>
    </div>
    <div>
        <input type="submit" value="Sign in" />
        <a asp-controller="Auth" asp-action="Register">Register</a>
    </div>
</form>